.nav {
  display: flex;
  padding-bottom: 2%;
}

h1 {
  color: white;
  margin: 0 auto;
  padding-top: 2%;
  font-weight: bold;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
}

.account-btn {
  margin: 2%;
}

.movie-container {
  display: flex;
  overflow-x: scroll;
  background-color: black;
  padding-bottom: 2%;
}

.movie-card {
  margin-left: 2%;
}

.removeFavButton {
  display: none;
}

// RESPONSIVE DESIGN //
@media all and (min-width: 500px) and (max-width: 750px) {

  .nav {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .account-btn {
    margin: 0;
    font-size: smaller;
  }

  .movie-container {
    display: block;
  }
  .movie-card img {
    width: 200px;
    margin-left: 15%;
  }
  .movie-card {
    width: 330px;
    margin: 5% auto;
  }
}

@media all and (max-width: 500px) {
  .nav {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .account-btn {
    margin: 0;
    font-size: 10px;
  }
  h1 {
    font-size: smaller;
  }

  .movie-container {
    display: block;
  }
  .movie-card img {
    width: 300px;
  }
  .movie-card {
    margin: 10% 5%;
  }
}