$primary: #FF4080;

.nav-container {
  padding-bottom: 2%;
  display: flex;
  // padding-bottom: 2%;
}
.movies-back-btn {
  margin: 2%;
}
.account-btn {
  margin: 2%;
}

.profile-container {
  //margin-top: 2%;
  background-color: black;
  height: 100%;
}

.profile-btns {
  display: flex;
  flex-direction: row;
}
.delete-btn {
  margin-left: 70%;
}

h1 {
  color: white;
  margin: 0 auto;
  padding-top: 2%;
  font-weight: bold;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
}

.card-container {
  margin: 0 20%;
}
.card-header {
  color: white;
  padding-top: 1%;
  border-radius: 3rem;
  
}

.fav-movies-container {
  background-color: #3F50B5;
  margin-top: 3%;
  margin-bottom: 5%;
}
.displayMessage {
  color: white;
}

.scroll-container {
  overflow-x: scroll;
  display: flex;
  padding: 2%;
}

.movie-card {
  margin-right: 2%;
}