<div class="profile-container">
  <nav class="nav-container">
    <button mat-raised-button color="primary" (click)="toMain()">Back to Movies</button>
  </nav>
  <mat-card class="card-container">
    <mat-card-header>
      <mat-card-title>My Profile</mat-card-title>
      <mat-card-subtitle>Hello, {{ user.Username }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card>
      <mat-card-content>
        <h3>Username: {{ user.Username }}</h3> 
        <h3>Email: {{user.Email }}</h3> 
        <h3>Birthday: {{ user.Birthday | date }}</h3> 
        <button mat-raised-button color="accent" (click)="openEditProfileDialog()">Edit</button>
      </mat-card-content>
  </mat-card>
</mat-card>
<mat-card class="card-container fav-movies-container">
  <mat-card-header>
    <mat-card-title>My Movies</mat-card-title>
  </mat-card-header>
  <div style="display: flex;">
    <mat-card *ngFor="let movie of favMovies; let i = index" style="flex: 1 1 auto;">
      <mat-card-header>
        <mat-card-subtitle>{{ movie.Title }}</mat-card-subtitle>
        <button class="remove-button" mat-button color="accent" (click)="removeFav(movie._id)">
          <mat-icon>favorite_border</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <img src={{movie.ImagePath}} alt= {{movie.Title}} width="180"/>
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>
</div>
