
@use '@angular/material' as mat;

@include mat.core();

$movieStudio-angular-client-primary: mat.define-palette(mat.$indigo-palette);
$movieStudio-angular-client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$movieStudio-angular-client-warn: mat.define-palette(mat.$red-palette);

$movieStudio-angular-client-theme: mat.define-light-theme((
  color: (
    primary: $movieStudio-angular-client-primary,
    accent: $movieStudio-angular-client-accent,
    warn: $movieStudio-angular-client-warn,
  )
));

@include mat.all-component-themes($movieStudio-angular-client-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
